# ==========================================
# VARIABLES DE ENTORNO
# ==========================================

.env
.env.local
.env.development
.env.production


# ==========================================
# ENTORNOS VIRTUALES DE PYTHON
# ==========================================

.venv/
venv/
env/


# ==========================================
# ARCHIVOS TEMPORALES DE PYTHON
# ==========================================

__pycache__/
*.pyc
*.pyo
*.pyd


# ==========================================
# VERCEL
# ==========================================

.vercel/


# ==========================================
# VISUAL STUDIO CODE
# ==========================================

.vscode/


# ==========================================
# SISTEMA OPERATIVO
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# ARCHIVOS TEMPORALES
# ==========================================

*.log